@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

/*
  VARIABLES DECLARATION ON ROOT
*/
:root {
    --green: rgb(33, 250, 131);
    --red: rgb(252, 86, 108);
    --dark-font: #2b2b2b;
    --back: #fcdec08a;
    --broken-dark: rgb(68, 68, 68);
    --main1: rgba(229, 178, 153, 1);
    --main2: #99cce5;
    --main3: #E5B299;
    --main4: #FCDEC0;
    --main5: #fff3e6;
    --s-pad: 1rem;
    --l-pad: 2rem;
}


/*
    COMMON STYLING
*/
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    overflow: hidden;
    background: var(--back);
    background: linear-gradient(90deg, var(--main1) 20%, var(--main2) 80%);
    height: 100vh;
}

h1 {
    font-size: xx-large;
}

/* CONTAINER */

/*IMAGES*/

.icon {
    margin: 10px;
    opacity: 0.8;
    align-self: self-end;
    right: 0;
    top: 0;
}

.icon.git {
    width: 30px;
}

.icon:hover {
    cursor: pointer;
    transform: scale(1.15);
}


/*FOOTER*/

footer {
    bottom: 0;
    position: absolute;
    display: flex;
    right: 40%;
    left: 40%;
}

.footer-message {
    align-items: center;
    display: flex;
}